includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    excludes_analyse:
        - /*/Definitions/*
    level: max
    ignoreErrors:
        - '#Laravel\\Passport\\ClientRepository::createPasswordGrantClient()#'
        - '#Illuminate\\Database\\Query\\Builder::dynamicWhere()#'
        - "#Offset 'host' does not exist on array()#"
        - '#parameters()#'
    paths:
        - %rootDir%/../../../app
        - %rootDir%/../../../routes
        - %rootDir%/../../../tests
        - %rootDir%/../../../database
