.logo-menu {
    width: 20%;
    height: auto;
}

.custom-nav {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-exosuite {
    margin-bottom: 5%;
}

.custom_size {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: auto;
}

.center_team {
    text-align: center;
}